In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Sales Dataframe

In [12]:
sales = pd.read_csv('../data/Trans_TWSupport Sale w. Cash Discount (v15)_1_935.csv')

In [13]:
sales.columns = sales.iloc[0]
sales = sales.iloc[1:, :]
sales.head()

,startDate,endDate,Date,gps x,gps y,Mobile User,non_acht,siyati_acht_a,telefon_natcom_acht_a,buyers_natcom_phone_number_buyers_digice,...,kontra_foto,nimewo_nontra_1,kod_pwodwi_a,cash_discount_1,are_you_going_to_pay_in_full_now,loan_name,deposit_amount_expected,montan_depoze_deposit_amount,payment_expected,cash_payment_amount
1,2022-01-12 11:06:28-0600,2022-01-12 11:06:45-0600,2022-01-12,NaN,NaN,UC TaroWorks Admin,S,S,NaN,NaN,...,NaN,NaN,NaN,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,S - Antreprenè Sistèm Filtraj ak Pye / Entrepr...,NaN,NaN,2900.0,2900.0
2,2022-01-12 11:08:42-0600,2022-01-12 11:10:28-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Markenson,Toussaint,40573348,NaN,...,https://unlockingcommunities.my.salesforce.com...,01627,6473,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Toussaint - Antreprenè Sistèm Filtraj ak Pye ...,NaN,NaN,2900.0,2900.0
3,2022-01-12 11:15:31-0600,2022-01-12 11:17:01-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Ghislaine,Myrthil,43564343,NaN,...,https://unlockingcommunities.my.salesforce.com...,01625,6427,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Myrthil - Antreprenè Sistèm Filtraj ak Pye / E...,NaN,NaN,2900.0,2900.0
4,2022-01-12 11:17:45-0600,2022-01-12 11:19:08-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Nastal,Gabriel,35235271,NaN,...,https://unlockingcommunities.my.salesforce.com...,01626,6426,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Gabriel - Antreprenè Sistèm Filtraj ak Pye / E...,NaN,NaN,2900.0,2900.0
5,2022-01-12 11:19:47-0600,2022-01-12 11:20:49-0600,2022-01-12,NaN,NaN,Fenson Cherenfant,Sonias,Toussaint,42860885,NaN,...,https://unlockingcommunities.my.salesforce.com...,01621,6623,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Toussaint - Antreprenè Sistèm Filtraj ak Pye ...,NaN,NaN,2900.0,2900.0

In [15]:
sales['startDate'] = pd.to_datetime(sales['startDate'], format='%Y-%m-%d')
sales['startDate']

1     2022-01-12 11:06:28-06:00
2     2022-01-12 11:08:42-06:00
3     2022-01-12 11:15:31-06:00
4     2022-01-12 11:17:45-06:00
5     2022-01-12 11:19:47-06:00
                 ...
931   2022-04-28 14:04:40-06:00
932   2022-04-28 14:06:30-06:00
933   2022-04-28 14:08:07-06:00
934   2022-04-29 09:23:02-06:00
935   2022-04-29 11:37:42-06:00
Name: startDate, Length: 935, dtype: datetime64[ns, pytz.FixedOffset(-360)]

In [17]:
sales['endDate'] = pd.to_datetime(sales['endDate'], format='%Y-%m-%d')
sales['endDate']

1     2022-01-12 11:06:45-06:00
2     2022-01-12 11:10:28-06:00
3     2022-01-12 11:17:01-06:00
4     2022-01-12 11:19:08-06:00
5     2022-01-12 11:20:49-06:00
                 ...
931   2022-04-28 14:06:21-06:00
932   2022-04-28 14:07:57-06:00
933   2022-04-28 14:09:36-06:00
934   2022-04-29 09:24:22-06:00
935   2022-04-29 11:41:21-06:00
Name: endDate, Length: 935, dtype: datetime64[ns, pytz.FixedOffset(-360)]

In [18]:
sales.head()

,startDate,endDate,Date,gps x,gps y,Mobile User,non_acht,siyati_acht_a,telefon_natcom_acht_a,buyers_natcom_phone_number_buyers_digice,...,kontra_foto,nimewo_nontra_1,kod_pwodwi_a,cash_discount_1,are_you_going_to_pay_in_full_now,loan_name,deposit_amount_expected,montan_depoze_deposit_amount,payment_expected,cash_payment_amount
1,2022-01-12 11:06:28-06:00,2022-01-12 11:06:45-06:00,2022-01-12,NaN,NaN,UC TaroWorks Admin,S,S,NaN,NaN,...,NaN,NaN,NaN,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,S - Antreprenè Sistèm Filtraj ak Pye / Entrepr...,NaN,NaN,2900.0,2900.0
2,2022-01-12 11:08:42-06:00,2022-01-12 11:10:28-06:00,2022-01-12,NaN,NaN,Fenson Cherenfant,Markenson,Toussaint,40573348,NaN,...,https://unlockingcommunities.my.salesforce.com...,01627,6473,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Toussaint - Antreprenè Sistèm Filtraj ak Pye ...,NaN,NaN,2900.0,2900.0
3,2022-01-12 11:15:31-06:00,2022-01-12 11:17:01-06:00,2022-01-12,NaN,NaN,Fenson Cherenfant,Ghislaine,Myrthil,43564343,NaN,...,https://unlockingcommunities.my.salesforce.com...,01625,6427,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Myrthil - Antreprenè Sistèm Filtraj ak Pye / E...,NaN,NaN,2900.0,2900.0
4,2022-01-12 11:17:45-06:00,2022-01-12 11:19:08-06:00,2022-01-12,NaN,NaN,Fenson Cherenfant,Nastal,Gabriel,35235271,NaN,...,https://unlockingcommunities.my.salesforce.com...,01626,6426,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Gabriel - Antreprenè Sistèm Filtraj ak Pye / E...,NaN,NaN,2900.0,2900.0
5,2022-01-12 11:19:47-06:00,2022-01-12 11:20:49-06:00,2022-01-12,NaN,NaN,Fenson Cherenfant,Sonias,Toussaint,42860885,NaN,...,https://unlockingcommunities.my.salesforce.com...,01621,6623,"Si ou peye an plen lajan kach, ou pral resevwa...",Wi / Yes,Toussaint - Antreprenè Sistèm Filtraj ak Pye ...,NaN,NaN,2900.0,2900.0

In [24]:
sales.shape

(935, 44)

In [19]:
sales.to_json('../data/sales_in_json')

## Loans Dataframe

In [21]:
loans = pd.read_csv('../data/TWSupport Loan Repayments (v5)_1_2426.csv')

,startDate,endDate,Date,gps x,gps y,Mobile User,Loan ID,Transaction ID,Kantite lajan ou dwe / Amount Owed,Montan Peman an / Amount Paid,Dat Peman / Payment Date,Currency,Status
0,startDate,endDate,Date,gps x,gps y,Mobile User,loan_id,transaction_id,amount_owed,montan_peman_an_amount_paid,date_of_transaction,currency,status_1
1,2021-03-10 04:24:01-0600,2021-03-10 04:24:18-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-1121,T-12422,625,500,2021-03-10,HTG,Processed
2,2021-03-10 04:24:17-0600,2021-03-10 04:24:35-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0136,T-1332,500,500,2021-03-10,HTG,Processed
3,2021-03-10 04:25:09-0600,2021-03-10 04:25:49-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,500,2021-03-10,HTG,Processed
4,2021-03-10 04:25:10-0600,2021-03-10 04:25:30-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0443,T-4253,625,625,2021-03-10,HTG,Processed

In [22]:
loans.columns = loans.iloc[0]
loans = loans.iloc[1:, :]
loans.head()

,startDate,endDate,Date,gps x,gps y,Mobile User,loan_id,transaction_id,amount_owed,montan_peman_an_amount_paid,date_of_transaction,currency,status_1
1,2021-03-10 04:24:01-0600,2021-03-10 04:24:18-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-1121,T-12422,625,500,2021-03-10,HTG,Processed
2,2021-03-10 04:24:17-0600,2021-03-10 04:24:35-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0136,T-1332,500,500,2021-03-10,HTG,Processed
3,2021-03-10 04:25:09-0600,2021-03-10 04:25:49-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,500,2021-03-10,HTG,Processed
4,2021-03-10 04:25:10-0600,2021-03-10 04:25:30-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0443,T-4253,625,625,2021-03-10,HTG,Processed
5,2021-03-10 04:27:11-0600,2021-03-10 04:27:23-0600,2021-03-10,NaN,NaN,Entrepreneur Community 10,L-0150,T-1458,625,625,2021-03-10,HTG,Processed

In [23]:
loans.shape

(2426, 13)